
html{
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(13, 31%, 94%);
}
$weight: bold;
$font: 9px;
$color: grey;
$priceColor: hsl(14, 86%, 42%);

.container{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 10px;
    padding: 10px;
    .topic{
    font-size: large;
    font-weight: bold;
    
    }
    img{
        border-radius: 8px;
        width: 150px;
    }
}

.dessert p:nth-child(4){
    color: $priceColor;
    font-size: $font;
    font-weight: $weight;
    
}
.dessert p:nth-child(2){
    font-size: 11px;
    color: $color;
}
.dessert p:nth-child(3){
    font-size: $font;
    font-weight: $weight;
}


.add{
    font-size: $font;
    border: 1px solid $color;
    border-radius: 28px;
    text-align: center;
    padding: 0 10px;
    position: absolute;
    bottom: -5px;
    left: 20%;
    right: 20%;
}
.cart{
    position: relative;
    background-color: hsl(20, 50%, 98%);
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    grid-area: 2 / 4 / span 1 ;
    margin-top: -30px;
    height: 120px;
    .appear{
        font-size: $font;
    font-weight: $weight;
    color: $color;
    }
}

.tira, .velvet, .waffles{
    grid-column: 1;

}

