
html{
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(13, 31%, 94%);
}
$weight: bold;
$font: 9px;
$color: grey;
$priceColor: hsl(14, 86%, 42%);
@mixin confirmation{
            width: 90%;
            border-radius: 13px;
            border-color: transparent;
            background-color: $priceColor;
            color: white;
            font-size: $font;
            padding: 6px; 
}
@mixin total{
    display: flex;
    justify-content: space-between;
}
.container{
    position: relative;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 10px;
    padding: 10px;
    .topic{
    font-size: large;
    font-weight: bold;
    grid-column:  1 / 4;
    align-self: self-start;
    }
    img{
        border-radius: 8px;
        width: 150px;
    }
    .cart{
        position: relative;
        background-color: hsl(20, 50%, 98%);
        width: 180px;
        overflow: auto;
        border-radius: 4px;
        text-align: center;
        grid-row: 1 / 6;
        grid-column: 4;
        align-self: self-start;
        padding: 8px;
    
        .appear{
            font-size: $font;
        font-weight: $weight;
        color: $color;
        }
        .totalOrders{
            @include total()
        }
        .confirm{
           @include confirmation();
         }
    
    }
        
}

.dessert p:nth-child(4){
    color: $priceColor;
    font-size: $font;
    font-weight: $weight;
    
}
.dessert p:nth-child(3){
    font-size: 11px;
    color: $color;
}
.dessert p:nth-child(2){
    font-size: $font;
    font-weight: $weight;
}

.imageContainer{
    position: relative;
    width: auto;
    
}
.addToCart{
    position: absolute;
    width: 50%;
    bottom: -5px;
    left: 20%;
    right: 20%;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 28px;
    // text-align: center;
    padding: 0 10px;
}



.cartList{
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    .remove{
        font-size: 8px;
        border-radius: 100%;
        width: 14px;
        height: 14px;
        align-self: center;
        color: $color;
        border-color: transparent;
        text-align: center;
        padding: 2px;
    }
}
@media  only screen and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    };
        
    .addToCart {
        width: 100px;
        padding: 5px;
        border: 1px solid grey; 
        background-color: lightgray; 
        position: absolute;
        left: 20px;
        right: 10px;
        text-align: center;
        display: flex;
        justify-content: space-around;
      }
      
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.orderConfirmation{
    position: fixed;
    z-index: 2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: block;
    left: 25%;
    right: 25%;
    bottom: 50%;
    background-color: hsl(20, 50%, 98%);
    width: 90%;
    max-width: 50%;
    padding: 8px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
    border-radius: 6px;

        .checkmark{
            color: green;
            text-align: center;
            border-radius: 50%;
            border: 1px solid green;
            width: 20px;
            height: 20px;
        }
        .newOrder{
            @include confirmation();
        }
        .sum{
            @include total()
        }
}
